<?php

$finder = PhpCsFixer\Finder::create()
    ->notPath('bootstrap/cache')
    ->notPath('storage')
    ->notPath('vendor')
    ->notPath('_ide_helper.php')
    ->notPath('_ide_helper_models.php')
    ->in(__DIR__)
    ->name('*.php')
    ->notName('*.blade.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'lowercase_constants' => true,
        'method_argument_space' => [
            'ensure_fully_multiline' => true,
        ],
        'single_class_element_per_statement' => [
            'elements' => ['property'],
        ],
    ])
    ->setFinder($finder);
